{% extends 'inventory_management/base.html' %}
{% load static %}
{% block title %}
Rooms
{% endblock title %}
{% block banner_title %}
    Room List
{% endblock banner_title %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory_management/room_style.css' %}">
{% endblock extra_css %}

{% block content %}
    <!-- Das Content Div beinhaltet die Suchleitste + Filter und Raumliste -->
    <div class="content_div">
        <div class="d-flex justify-content-center">
            <form action="{% url 'search_results' %}" method="get">
                <label for="search_input"></label>
                <input type="text" id="search_input" name="search" placeholder="search...">
            </form>
            <!-- Input feld um Räume zu suchen -->
            <!-- Filter Modal + Button -->
            <button id="filter_btn" type="button" class="btn btn-default" data-toggle="modal" data-target="#filterModal">
                <img class="img" src="{% static 'inventory_management/next_burger.png' %}"/></button>
            <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filterModalLabel">Filter</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{filter_fields}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                            <button type="button" class="btn btn-primary">Filtern</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="room_list">
             <div class="list-group">
                 {% for room in object_list %}
                     <div class="Line">

                     <a href="{{ room.id }}" class="list-group-item list-group-item-action" style="text-align: center">{{ room.room_name }} {{ room.floor_nr }} {{ room.building_nr }}</a>
                     <a href="delete/{{ room.id }}">Delete</a>
                     </div>

                 {% endfor %}
            </div>

        </div>
    </div>




{% endblock content %}